body {
	font-family: 'Rock Salt', 'Trebuchet MS', sans-serif;
	color: #ddd;
	background-color: #000;
}
h1  {
  font-family: 'Rock Salt', 'Trebuchet MS', sans-serif;
  text-align: center;
  color: #ddd;


}
h1, h2, h3, p {
  margin: 0 0 20px 0;
}
ul {
  list-style-position: outside;
}
